body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  position: relative;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  padding-top: 24px;
  margin-right: 76px;
  padding-bottom: 24px;
}

.webstudio {
  color: #2e2f42;
}

.menu-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  fill: black;
}

.nav-title-container {
  background-color: #ffffff;
  width: 320px;
  height: 640px;
  padding: 72px 24px 40px 24px;
  text-align: center;
  font-size: 20px;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-title-container.is-open {
  opacity: 1;
  visibility: visible;
}

.icon-cross-box {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross-box:active,
.icon-cross-box:hover,
.icon-cross-box:focus {
  background-color: #404bbf;
  border: none;
}

.nav-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-cross-box:hover .nav-close-icon {
  fill: #ffffff;
}
.icon-cross-box:active .nav-close-icon {
  fill: #ffffff;
}
.icon-cross-box:focus .nav-close-icon {
  fill: #ffffff;
}

.nav-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.nav-title a:hover,
.nav-title a:active,
.nav-title a:focus {
  color: #404bbf;
}

.nav-list-el.current {
  position: relative;
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-bottom: 48px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.address-list-el {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts li a {
  color: #434455;
}

.contacts li a:hover {
  color: #404bbf;
}

.contacts li a:focus {
  color: #404bbf;
}

.nav-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 8px;
}

.nav-icon-box {
  height: 40px;
  width: 40px;
}

.nav-social-href {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-social-href:hover {
  background-color: #31d0aa;
}

.nav-social-href:focus {
  background-color: #31d0aa;
}

.nav-social-href:active {
  background-color: #31d0aa;
}

.nav-icon {
  fill: #f4f4fd;
}

/* Section First */

.section-first {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile1x.jpg);
  background-repeat: no-repeat;
  width: 320px;
  height: 432px;
  background-size: 320px 432px;
  background-position: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 72px 0;
}

.section-first-headder {
  font-size: 36px;
  line-height: 111%;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  max-width: 200px;
}

.button-order {
  background-color: #4d5ae5;
  color: #ffffff;
  border-style: none;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover {
  background-color: #404bbf;
}

.button-order:focus {
  background-color: #404bbf;
}

/* Section Second */

.section-info-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* !!!!!!!! */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-headder {
  color: #2e2f42;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.icon-advan-box {
  display: none;
}

.section-title-p {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-descr {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

/* Section Third */

.section-team {
  background-color: #f4f4fd;
}

.section-team-headder {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  /*  */
  align-items: center;
}

.section-team-list-el {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-descr {
  padding: 32px 0px;
  text-align: center;
}

.social-icon-box {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.icon-box {
  height: 40px;
  width: 40px;
}

.social-icon-href {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-href:hover {
  background-color: #404bbf;
}
.social-icon-href:focus {
  background-color: #404bbf;
}
.social-icon-href:active {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* Section Forth */

.portfolio-list {
  display: flex;
  gap: 48px;
  flex-direction: column;
  justify-content: center;
}

.portfolio-list-el {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

.portfolio-list-el:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  cursor: pointer;
}

.portf-img-box {
  position: relative;
  overflow: hidden;
}

.portf-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition-property: transform;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.portfolio-list-el:hover .portf-img-overlay {
  transform: translateY(0);
}

/* Footer */

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.webstudio-footer {
  color: #f4f4fd;
}

.footer-descr {
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 288px;
}

.footer-social-header {
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-icon-box {
  height: 40px;
  width: 40px;
}

.footer-social-href {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-href:hover {
  background-color: #31d0aa;
}

.footer-social-href:focus {
  background-color: #31d0aa;
}

.footer-social-href:active {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.form-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.input-email-footer {
  height: 40px;
  width: 288px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  color: #ffffff;
}

.input-email-footer::placeholder {
  color: #ffffff;
}

.input-email-footer:active,
.input-email-footer:focus {
  outline: none;
}

.subscribe-submit-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon-footer {
  fill: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
}

.subscribe-submit-btn:hover {
  background-color: #404bbf;
}

.subscribe-submit-btn:focus {
  background-color: #404bbf;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1050;
  opacity: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: absolute;
  padding: 72px 16px 24px 16px;
  width: 288px;
  height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross-box-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross-box-modal:active,
.icon-cross-box-modal:hover,
.icon-cross-box-modal:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-cross-box-modal:hover .modal-close-icon {
  fill: #ffffff;
}
.icon-cross-box-modal:active .modal-close-icon {
  fill: #ffffff;
}
.icon-cross-box-modal:focus .modal-close-icon {
  fill: #ffffff;
}

.form-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-box {
  margin-bottom: 8px;
}

.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 100%;
  display: block;
  margin-bottom: 4px;
}

.input-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  height: 40px;
  border-radius: 4px;
  width: 100%;
  padding-left: 38px;
  border: 1px solid #2e2f4266;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus,
.input-form:active {
  border-color: #4d5ae5;
}

.input-form:active + .input-icon {
  fill: #4d5ae5;
}

.input-form:focus + .input-icon {
  fill: #4d5ae5;
}

.textarea-box {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:active,
.textarea-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-form {
  min-height: 16px;
  min-width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-box {
  margin-bottom: 24px;
}

.checkbox-box input[type='checkbox']:checked + label .checkbox-form {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-box input[type='checkbox']:focus + label .checkbox-form {
  border-color: #4d5ae5;
}

.checkbox-descr {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.privacy-policy {
  display: inline-block;
  text-decoration: underline;
  color: #4d5ae5;
}

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  background-color: #404bbf;
}

.form-button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) and (max-width: 320px) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 321px) and (max-width: 768px) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 769px) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .nav-title-container {
    display: none;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    text-align: left;
  }
  .nav-title-container.is-open {
    display: block;
  }
  .section-title-p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    flex-direction: column-reverse;
  }

  .menu-button {
    display: none;
  }

  .nav-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0;
    align-items: center;
  }

  .nav-title {
    flex-direction: row;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .address {
    margin-bottom: 0;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address-list-el {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
  }

  .nav-list-el {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-list-el.current {
    position: relative;
  }

  .nav-list-el.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -21px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
  }

  .icon-cross-box {
    display: none;
  }

  .nav-icons {
    display: none;
  }

  .nav-social-href {
    display: none;
  }

  /* Section First */

  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet1x.jpg);

    width: 768px;
    height: 436px;
    background-size: 768px 436px;
    padding: 112px 0;
  }

  .section-first-headder {
    font-size: 56px;
    line-height: 107%;
    text-transform: none;
    margin-bottom: 36px;
    max-width: 496px;
  }

  /* Section Second */

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-list .advan-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advan-item .section-title-p {
    text-align: left;
  }

  /* Section Third */

  .team-list {
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Section Forth */

  .portf-img-box img {
    width: 356px;
    height: 300px;
  }

  .portfolio-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .portfolio-list-el {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* Footer */

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    text-align: left;
    padding-left: 108px;
  }

  .footer-descr {
    width: 264px;
  }

  .input-email-footer {
    width: 264px;
  }

  .form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  /* Modal */

  .modal-content {
    padding: 72px 24px 24px 24px;
    width: 408px;
    height: 584px;
  }
}

@media screen and (max-width: 1158px) {
  .advan-item .section-title-p {
    color: #2e2f42;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .advan-item .section-descr {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-list-el {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .nav-list-el.current::after {
    bottom: -4px;
    height: 4px;
  }

  /* Section First */

  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1x.jpg);

    width: 1440px;
    height: 600px;
    background-size: 1440px 600px;
    padding: 188px 0;
  }

  .section-first-headder {
    margin-bottom: 48px;
    max-width: 496px;
  }

  /* Section Second */

  .section-info-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list .advan-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .icon-advan-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: solid 1px #8e8f99;
  }

  .section-title-p {
    color: #2e2f42;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: none;
  }

  .section-descr {
    font-weight: 400;
  }

  /* Section Forth */

  .portf-img-box img {
    width: 360px;
    height: 300px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-list-el {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* Footer */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    /* padding-left: 0; */
    gap: 0;
  }

  .webstudio-footer-descr {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: auto;
  }
}
